/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  body {
    background-color: #f1f1f1;

  }
    
  
    /* HEADER */

    .logo-image {
        height: 60px;
        vertical-align: middle;
    }

    .logo-title {
        display: inline;
        vertical-align: middle;
        font-size: 55px;
    }

    .page-header {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;

        background-color: white;

        vertical-align: middle;
    }

    /* MAIN */

    .main-container {
        padding-left: 40px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;

        width: 800px;
        height: 900px;

        margin-top: 3px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        background-color: white;
    }

    .button-cointainer {
        padding-left: 40px;
        padding-top: 20px;

        /* border-bottom: solid 2px  #e2e2e2;  */

        width: 800px;
        height: 70px;

        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        background-color: white;
        
    }

    .btn {
        padding: 8px 10px;
        border-radius: 20px;
        border: none;
        box-shadow: 2px 2px #a2a2a2;

        font-size: small;
    }

    .btn-task {
        background-color: dodgerblue;
        color: white;
    }

    .btn-section {
        border-color: gray;
        color: gray;
        border: 1px solid currentColor;
        background: transparent;
        border-radius: 20%;
        border-radius: 20px;
    
    }


    /* LIST */

    .list-container {
        line-height: 1.6;
    }

    .style-list {
        list-style-type: none;
        margin-top: 20px;
        margin-bottom: 30px;
        
    }

    .list-title {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 3px;
    }

    .check-mark {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid currentColor;
        color: green;
        text-align: center;
        vertical-align: middle;

        font-size: 0.8rem;
    }

    .type {
        width: 30px;
        height: 10px;
        border-radius: 20px;
        background-color: dodgerblue;
        box-shadow: 2px 2px #a2a2a2;

        font-size: small;
        color: white;
        padding: 5px;
    }